In [1]:
#Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
%load_ext sql

In [2]:
%sql mysql+pymysql://root:Kigen2002black@localhost:3306/project1

'Connected: root@project1'

### Below is the Data Dictionary

In [7]:
%sql DESCRIBE weather_data;

 * mysql+pymysql://root:***@localhost:3306/project1
8 rows affected.

[('Date/Time', 'text', 'YES', '', None, ''),
 ('Temp_C', 'double', 'YES', '', None, ''),
 ('Dew Point Temp_C', 'double', 'YES', '', None, ''),
 ('Rel Hum_%', 'int', 'YES', '', None, ''),
 ('Wind Speed_km/h', 'int', 'YES', '', None, ''),
 ('Visibility_km', 'double', 'YES', '', None, ''),
 ('Press_kPa', 'double', 'YES', '', None, ''),
 ('Weather', 'text', 'YES', '', None, '')]

**Finding all records where the weather was exactly clear**

In [9]:
%%sql
SELECT *
FROM
project1.weather_data
WHERE 
Weather = 'Clear'
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/project1
10 rows affected.

[('1/3/2012 19:00', -16.9, -24.8, 50, 24, 25.0, 101.74, 'Clear'),
 ('1/5/2012 18:00', -7.1, -14.4, 56, 11, 25.0, 100.71, 'Clear'),
 ('1/5/2012 19:00', -9.2, -15.4, 61, 7, 25.0, 100.8, 'Clear'),
 ('1/5/2012 20:00', -9.8, -15.7, 62, 9, 25.0, 100.83, 'Clear'),
 ('1/5/2012 21:00', -9.0, -14.8, 63, 13, 25.0, 100.83, 'Clear'),
 ('1/11/2012 1:00', -10.7, -17.8, 56, 17, 25.0, 101.49, 'Clear'),
 ('1/11/2012 2:00', -12.0, -18.9, 56, 19, 25.0, 101.57, 'Clear'),
 ('1/11/2012 3:00', -12.7, -19.4, 57, 19, 25.0, 101.64, 'Clear'),
 ('1/11/2012 4:00', -13.4, -20.1, 57, 17, 25.0, 101.66, 'Clear'),
 ('1/15/2012 8:00', -23.3, -28.5, 62, 7, 24.1, 102.45, 'Clear')]

In [11]:
%%sql
-- The number of records which has clear is:
SELECT COUNT(*) AS Number_of_records_having_clear_weather_is
FROM 
project1.weather_data
WHERE 
Weather = 'Clear';

 * mysql+pymysql://root:***@localhost:3306/project1
1 rows affected.

[(1326,)]

**Find the number of records where the wind speed is greater than 24 km/hr and visibility is equal to 25 km.**

In [14]:
%%sql
SELECT COUNT(*) AS Number_of_records
FROM 
project1.weather_data
WHERE
`Wind Speed_km/h` > 24 AND `Visibility_km` = 25;

 * mysql+pymysql://root:***@localhost:3306/project1
1 rows affected.

[(308,)]

**Find the number of times the wind speed was exactly 4 km/hr.**

In [15]:
%%sql
SELECT COUNT(*) AS Number_of_times
FROM
project1.weather_data
WHERE `Wind Speed_km/h` = 4;

 * mysql+pymysql://root:***@localhost:3306/project1
1 rows affected.

[(474,)]

**Find all instances where the weather is clear and the relative humidity is greater than 50, or visibility is above 40.**

In [17]:
%%sql
SELECT *
FROM 
project1.weather_data
WHERE `Rel Hum_%` > 50 OR `Visibility_km` > 40
LIMIT 20;

 * mysql+pymysql://root:***@localhost:3306/project1
20 rows affected.

[('1/1/2012 0:00', -1.8, -3.9, 86, 4, 8.0, 101.24, 'Fog'),
 ('1/1/2012 1:00', -1.8, -3.7, 87, 4, 8.0, 101.24, 'Fog'),
 ('1/1/2012 2:00', -1.8, -3.4, 89, 7, 4.0, 101.26, 'Freezing Drizzle,Fog'),
 ('1/1/2012 3:00', -1.5, -3.2, 88, 6, 4.0, 101.27, 'Freezing Drizzle,Fog'),
 ('1/1/2012 4:00', -1.5, -3.3, 88, 7, 4.8, 101.23, 'Fog'),
 ('1/1/2012 5:00', -1.4, -3.3, 87, 9, 6.4, 101.27, 'Fog'),
 ('1/1/2012 6:00', -1.5, -3.1, 89, 7, 6.4, 101.29, 'Fog'),
 ('1/1/2012 7:00', -1.4, -3.6, 85, 7, 8.0, 101.26, 'Fog'),
 ('1/1/2012 8:00', -1.4, -3.6, 85, 9, 8.0, 101.23, 'Fog'),
 ('1/1/2012 9:00', -1.3, -3.1, 88, 15, 4.0, 101.2, 'Fog'),
 ('1/1/2012 10:00', -1.0, -2.3, 91, 9, 1.2, 101.15, 'Fog'),
 ('1/1/2012 11:00', -0.5, -2.1, 89, 7, 4.0, 100.98, 'Fog'),
 ('1/1/2012 12:00', -0.2, -2.0, 88, 9, 4.8, 100.79, 'Fog'),
 ('1/1/2012 13:00', 0.2, -1.7, 87, 13, 4.8, 100.58, 'Fog'),
 ('1/1/2012 14:00', 0.8, -1.1, 87, 20, 4.8, 100.31, 'Fog'),
 ('1/1/2012 15:00', 1.8, -0.4, 85, 22, 6.4, 100.07, 'Fog'),
 ('1/1/2012 16:00', 2.6, -0.2, 82, 13, 12.9, 99.93, 'Mostly Cloudy'),
 ('1/1/2012 17:00', 3.0, 0.0, 81, 13, 16.1, 99.81, 'Cloudy'),
 ('1/1/2012 18:00', 3.8, 1.0, 82, 15, 12.9, 99.74, 'Rain'),
 ('1/1/2012 19:00', 3.1, 1.3, 88, 15, 12.9, 99.68, 'Rain')]